<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\style.css">
    <title>Header</title>
</head>
<body>
    <header class="link">
        <a class="link1" href="http://localhost:2000/">Home</a>
        <a class="link2" href="http://localhost:2000/about">About</a>
        <a class="link3" href="http://localhost:2000/contact">Contact</a>
    </header>
    <hr>
</body>
</html>